[Unit]
Description=vlmcsd
After=network-online.target
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/sbin/vlmcsdmulti vlmcsd -D -d -q
ExecStop=/bin/kill -KILL $MAINPID
ExecStartPost=/bin/bash -c "sleep 3 && /usr/sbin/vlmcsdmulti vlmcs -D -d -q && exit 0 || exit 1"
RestartSec=3s
Restart=always

[Install]
WantedBy=multi-user.target

