[Unit]
Description=stunnel
After=network-online.target
After=local-fs.target
After=dbus.service

[Service]
Type=simple
ExecStartPre=/usr/bin/chmod 600 /etc/stunnel/server.crt.pem /etc/stunnel/server.key.pem
ExecStart=/usr/bin/stunnel /etc/stunnel/stunnel.conf 
RestartSec=3s
Restart=always

[Install]
WantedBy=multi-user.target
